################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Obsluga_Siecix3/.vs/Obsluga_Siecix3/v15
